.servicing{  
    background-color:#FFFFFF;
    display: flex;
    height: 100vh;
    width:100vw;
    flex-direction: column;

}

.menu{
    height:100vh;
    width:100%;
    background-color: #F8F8F8;
    font-family:"roboto",sans-serif;
}
.extra1,.extra0 img,.extra0 label,.extra3{
    display:none;
}
.extra0,.main p{
    width:95%;
}
.extra0{
    height:10%;
}

.header{
    width:98%;
    height:10%;
    font-size:larger;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
} 
 
.menu__title{
    height:200px;
    padding-top: 20px;
}

.extra2{
    width:100%;
    padding-bottom: 20px;
    display:flex;
}
.button1{
    width:95%;
}
.button2{
    width:400px;
    display:flex;
    margin-left: 20px;
    overflow: scroll;
}
.button2 a{
    margin-right: 60px;
}

.main{
    height:70%;
    width:100%;
    display:flex;
    flex-direction: column;
    
}
.company-img{
    height:50%;
    background-image: url(../images/back-img.png);
    background-size: cover;
}
.information{
    height: 50%;
    width:95%;
    margin-bottom:5px; 
}
.information__description{
    width:80%;
}
.information__more{
margin-top: 10px;

}
     